<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>eric.wtf</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
  {{{ body }}}
  <script src="/static/js/google-analytics.js"></script>
  <script src="/static/js/notes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.1/Pizzicato.min.js"></script>
  <script src="/static/js/parallax.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>