<div id="mouse-images">
  <img src="/static/images/spaceship0.png" />
  <img src="/static/images/spaceship1.png" />
  <img src="/static/images/spaceship2.png" />
</div>
<h1>eric ellingson</h1>
<div id="mute-wrap">
  <select id="scales"></select>
  <label for="mute">
    <input id="mute" type="checkbox" checked="checked"> mute
  </label>
</div>
<div style="color:white;z-index:10000;">
  <h2>pages</h2>
  <ul>
    <li><a href="https://vocab.eric.wtf/">Genki Vocab Review</a></li>
    <li><a href="https://review.gengo.io/">Genki Kanji Review</a></li>
  </ul>
</div>
<canvas id="canvas"></canvas>
<h1>eric ellingson</h1>