<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>eric.wtf</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <div id="mouse-images">
    <img src="//static/images/spaceship0.png" />
    <img src="//static/images/spaceship1.png" />
    <img src="//static/images/spaceship2.png" />
  </div>
	<h1>eric ellingson</h1>
	<div id="mute-wrap">
		<select id="scales"></select>
		<label for="mute">
			<input id="mute" type="checkbox" checked="checked"> mute
		</label>
	</div>
	<canvas id="canvas"></canvas>
	<h1>eric ellingson</h1>
<script>
(function(i, s, o, g, r, a, m) {
  i['GoogleAnalyticsObject'] = r;
  (i[r] =
    i[r] ||
    function() {
      (i[r].q = i[r].q || []).push(arguments);
    }),
    (i[r].l = 1 * new Date());
  (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m);
})(
  window,
  document,
  'script',
  'https://www.google-analytics.com/analytics.js',
  'ga'
);

ga('create', 'UA-105197390-1', 'auto');
ga('send', 'pageview');
</script>
<script src="/static/js/notes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.1/Pizzicato.min.js"></script>
<script src="/static/js/parallax.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
