<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>eric.wtf</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
  <div id="mouse-images">
    <img src="/static/images/spaceship0.png" />
    <img src="/static/images/spaceship1.png" />
    <img src="/static/images/spaceship2.png" />
  </div>
  <h1>eric ellingson</h1>
  <div id="mute-wrap">
    <select id="scales"></select>
    <label for="mute">
      <input id="mute" type="checkbox" checked="checked"> mute
    </label>
  </div>
  <canvas id="canvas"></canvas>
  <h1>eric ellingson</h1>
  <script src="/static/js/google-analytics.js"></script>
  <script src="/static/js/notes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.1/Pizzicato.min.js"></script>
  <script src="/static/js/parallax.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>